* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(20, 19, 19) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  background-color: rgb(24, 24, 24);
}

h1 {
  margin: 32px ;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.title{
  margin-top: 200px;
}
.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(68, 68, 68);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
  background: linear-gradient(
    90deg,
    rgb(116, 116, 116) 0%,
    rgb(71, 71, 71) 100%
  );
}

.todo-input.edit {
  border: 2px solid #ff27ac;
}

.todo-button.edit {
  padding: 16px 22px;
  background: linear-gradient(
    90deg,
    rgb(107, 208, 255) 0%,
    rgb(37, 190, 250) 100%
  );
  color: #fff;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(102, 56, 255) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(3n + 1) {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(255, 83, 53) 100%
  );
}

.todo-row:nth-child(3n + 2) {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(51, 255, 255) 100%
  );
}



.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}